<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itbaizhan.mapper.UserMapper"><!-- 指明持久层接口 -->
    <select id="findAll" resultType="testuser"><!-- id是方法名 resultType是返回值类型 若是集合只需要表明他的泛型-->
        select * from user
    </select>
    <insert id="add" parameterType="com.itbaizhan.pojo.User">
        insert into user(username,sex,address) values(#{username},#{sex},#{address})<!-- 绑定实体类的参数要用# #相当与一个占位符与preparedstatement中的？类似 可以防止sql注入 而$相当与字符串拼接-->
    </insert>
    <update id="update" parameterType="com.itbaizhan.pojo.User">
        update user
        <set>
            <if test="username != null and username.length() > 0">
                username = #{username},
            </if>
            <if test="sex != null and sex.length() > 0">
                sex = #{sex},
            </if>
        </set>
        where id = #{id}
    </update>
    <delete id="delete" parameterType="int">
        delete from user where id = #{id}
    </delete>
    <select id="findById" parameterType="int" resultType="com.itbaizhan.pojo.User">
        select * from user where id = #{userId}
    </select>

    <!-- 模糊查询 -->
    <select id="findByNameLike" parameterType="string" resultType="com.itbaizhan.pojo.User">
        select * from user where username like #{name}
    </select>

    <select id="findPage" resultType="com.itbaizhan.pojo.User">
        <!-- select * from user limit #{arg0},#{arg1}-->
        select * from user limit #{param1},#{param2}
    </select>

    <select id="findPage1" resultType="com.itbaizhan.pojo.User">
        select * from user limit #{startIndex},#{pageSize}
    </select>

    <select id="findPage2" resultType="com.itbaizhan.pojo.User" parameterType="com.itbaizhan.pojo.PageQuery">
        select * from user limit #{startIndex},#{pageSize}
    </select>

    <select id="findPage3" resultType="com.itbaizhan.pojo.User" parameterType="map">
        select * from user limit #{startIndex},#{pageSize}
    </select>

    <select id="findCount" resultType="int">
        select count(id) from user
    </select>

    <insert id="add2" parameterType="com.itbaizhan.pojo.User">
        <!-- keyProperty:主键属性名 此属性对应的是pojo中的java实体中的属性
             keyColumn:主键列名 此属性为插入后要回填的数据库的哪一列
             resultType:主键类型 order:执行时机-->
        <selectKey keyProperty="id" keyColumn="id" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID();
        </selectKey>
        insert into user(username,sex,address)
        values (#{username},#{sex},#{address})
    </insert>


<!--    动态sql-->
    <select id="findByCondition" parameterType="User" resultType="User">
        select * from user
        <where>
        <if test="username != null and username.length != 0">
            username like #{username}
        </if>
        <if test="sex != null and sex.length != 0">
            and sex = #{sex}
        </if>
        <if test="address != null and address.length != 0">
            and address = #{address}
        </if>
        </where>
    </select>

</mapper>
